<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TigersProject.Properties.Settings.ConnectionStringMyDB"
            connectionString="character set=NONE;data source=localhost;initial catalog=D:\DATABASE.FDB;user id=sysdba;Password=masterkey;server type=1;client library=D:\TigersProject\TigersProject\bin\Debug\fbclient.dll"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />		</DbProviderFactories>
	</system.data></configuration>